<div class="container" style="padding-bottom: 0px">
  <div class="barr">
    <h2>Registro con exito | Bienvenid@</h2>
    <form class="" action="/login" method="get">
      <button type="submit" class="btn btn-primary">login</button>
    </form>
  </div>
</div>
