<div class="container">
  <div class="formulario">
    <h2>Login</h2>

    <form action="/login" method="POST" >
      <div class="mb-3">
        <label for="input1" class="form-label">User</label>
        <input type="text" name="username" class="form-control" id="input1">
      </div>
      <div class="mb-3">
        <label for="input2" class="form-label">Password</label>
        <input type="text" name="password" class="form-control" id="input2">
      </div>

      <div class="d-grid gap-2 btncontainer">
        <button type="submit" class="btn btn-primary">Logearte</button>
      </div>
      <p>No estas registrado? <a href="/singup">Registrate aqui</a></p>
    </form>
  </div>
</div>
