<div class="container">
  <div class="formulario">
    <h2>singup</h2>

    <form action="/singup" method="POST" >
      <div class="mb-3">
        <label for="input1" class="form-label">User</label>
        <input type="text" name="username" class="form-control" id="input1">
      </div>
      <div class="mb-3">
        <label for="input2" class="form-label">New Password</label>
        <input type="text" name="password" class="form-control" id="input2">
      </div>
      <div class="mb-3">
        <label for="input3" class="form-label">Avatar</label>
        <input type="text" name="avatar" class="form-control" id="input3">
      </div>
      <div class="mb-3">
        <label for="input4" class="form-label">Mail</label>
        <input type="text" name="mail" class="form-control" id="input4">
      </div>
      <div class="mb-3">
        <label for="input5" class="form-label">Adress</label>
        <input type="text" name="address" class="form-control" id="input5">
      </div>
      <div class="mb-3">
        <label for="input6" class="form-label">Age</label>
        <input type="number" name="age" class="form-control" id="input6">
      </div>
      <div class="mb-3">
        <label for="input7" class="form-label">Phonenumber</label>
        <input type="number" name="phone" class="form-control" id="input7" placeholder="+54 11 5369-1720">
      </div>

      <div class="d-grid gap-2 btncontainer">
        <button type="submit" class="btn btn-primary">Registrarme</button>
      </div>
      <p>ya estas registrado? <a href="/login">inicia secion</a></p>
    </form>
  </div>
</div>
